* {
  font-family: JetBrainsMono;
  font-size: 14px;
  margin: 0;
}

window#waybar {
  border-radius: 5px;
}

#custom-logo,
#custom-separator,
#custom-powermenu,
#window,
#workspaces,
#network,
#pulseaudio,
#tray,
#clock {
  padding: 0 5px;
}

#workspaces button {
  background: transparent;
  border: none;
  box-shadow: none;
}

#custom-powermenu {
  font-size: 20px;
  color: #e78284;
}

#custom-logo {
  color: #99d1db;
}
