* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14pt;
  color: rgb(198, 208, 245);
}

window {
  background-color: alpha(@theme_bg_color, 0.9);
  border-radius: 5px;
}

#outer-box {
  margin: 10px;
}

#input {
  margin-bottom: 10px;
  background: @theme_base_color;
  color: @theme_fg_color;
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
  transition: .5s;
}

#input:focus {
  border: 1px solid rgb(140, 170, 238);
  transition: .5s;
}

#entry:selected {
  background-color: rgb(65, 69, 89);
}
